{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="wpfc-offcanvas-toggle" data-offcanvas-toggle="" aria-controls="g-offcanvas" aria-expanded="false">
        <i class="fa fa-fw fa-bars"></i>
    </div>
{% endblock %}