{% extends "partials/page.html.twig" %}
{% set twigTemplate = '404.html.twig' %}
{% set scope = '404' %}

{% block content %}

    <h3>{{ __('404 Page not found', 'wpfc-core') }}</h3>
 
{% endblock %}