{% extends "partials/page.html.twig" %}
{% set twigTemplate = 'page-plugin.html.twig' %}

{% block content %}

    <div class="platform-content platform-wordpress">
        <div class="plugin-content">
            {{ content|raw }}
        </div>
    </div>

{% endblock %}