{% set meta_scope = 'meta-passage' %}
{% set sermon_meta_passage_enabled = sermon_meta_passage_enabled ?? gantry.config.get('content.' ~ scope ~ '.' ~ meta_scope ~ '.enabled', '1') %}

{% block sermon_meta_passage %}
    {% if sermon_meta_passage_enabled and post.meta('bible_passage') %}
        <div class="meta-passage meta-item">
            {% block sermon_meta_passage_content %}
                {% include 'platform/meta/icon.html.twig' %}
                {% include 'platform/meta/prefix.html.twig' %}

                <span class="passage">
                    <span class="single-passage">{{ fn('get_post_meta', post.ID, 'bible_passage', true) }}</span>
                </span>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}