{% set background_image_enabled = background_image_enabled ?? scope.image.enabled %}
{% set background_get_image = post.thumbnail.src ?? scope.image.fallback %}
{% set background_image = 'background-image: url(' ~ background_get_image ~ ');' %}
{% set background_size = scope.image.background.size ? 'background-size:' ~ scope.image.background.size ~ ';' : '' %}
{% set background_repeat = scope.image.background.repeat ? 'background-repeat:' ~ scope.image.background.repeat ~ ';' : '' %}
{% set background_position = scope.image.background.position ? 'background-position:' ~ scope.image.background.position ~ ';' : '' %}
{% set background_inline_style = [background_image, background_size, background_repeat, background_position]|join('') %}
{% set background_overlay_enabled = background_overlay_enabled ?? scope.image.overlay.enabled %}

{% block background_image %}
    {% if background_image_enabled and background_image %}
        <div class="wpfc-post-thumbnail">
            {% block background_image_content %}
                {% if background_image_enabled == 'link' %}
                    <a href="{{ post.link }}" title="{{ post.title }}">
                        <div class="wpfc-background-image" style="{{ background_inline_style }}"></div>
                        {% if background_overlay_enabled %}<div class="wpfc-background-overlay"></div>{% endif %}
                    </a>
                {% else %}
                    <div class="wpfc-background-image" style="{{ background_inline_style }}"></div>
                    {% if background_overlay_enabled %}<div class="wpfc-background-overlay"></div>{% endif %}
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
