{% block sermon_paged_content %}
    <section class="entry-content-wrapper">
        {% include 'wpfc-sermon/partials/entry-media.html.twig' %}
        {% include 'wpfc-sermon/partials/entry-content.html.twig' %}
    </section>
{% endblock %}