[class*="wpfc-list-"] {
    .g-grid {
        margin: -.25rem -.625rem;
        
        .g-flushed & {
            margin: 0;
        }
    }
    
    .wpfc-inner {
        margin: .25rem .625rem;
    }

    i {
        margin: 0 .25rem 0 0;
        [dir="rtl"] & {
            margin: 0 0 0 .25rem;
        }
    }

    a {
        color: inherit;
        &:hover {
            color: $accent-color-1;
        }
    }
}