{% set meta_scope = 'categories' %}
{% set meta_categories_enabled = meta_categories_enabled ?? scope.meta.categories.enabled %}

{% block meta_categories %}
    {% if meta_categories_enabled and post.categories is not empty %}
        <div class="wpfc-meta-categories wpfc-meta-item">  
            {% block meta_categories_content %}
                {% include '@particles/wpfc-assets/common/views/meta/icon.html.twig' %}
                {% include '@particles/wpfc-assets/common/views/meta/prefix.html.twig' %}

                <span class="wpfc-categories">
                    {% for category in post.categories %}
                        {% if meta_categories_enabled == 'link' %}
                            <a href="{{ category.link }}" title="{{ category.title }}" class="wpfc-single-cat">{{ category.title }}</a>
                        {% else %}
                            <span class="wpfc-single-cat">{{ category.title }}</span>
                        {% endif %}
                    {% endfor %}
                </span>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}