{% set meta_scope = 'tags' %}
{% set meta_tags_enabled = meta_tags_enabled ?? scope.meta.tags.enabled %}

{% block meta_tags %}
    {% if meta_tags_enabled %}
        <div class="wpfc-meta-tags wpfc-meta-item">
            {% block meta_tags_content %}
                {% include '@particles/wpfc-assets/common/views/meta/icon.html.twig' %}
                {% include '@particles/wpfc-assets/common/views/meta/prefix.html.twig' %}

                <span class="wpfc-tags">
                    {% for tag in post.tags %}
                        {% if meta_tags_enabled == 'link' %}
                            <a href="{{ tag.link }}" title="{{ tag.title }}" class="wpfc-single-tag">{{ tag.title }}</a>
                        {% else %}
                            <span class="wpfc-single-tag">{{ tag.title }}</span>
                        {% endif %}
                    {% endfor %}
                </span>
            {% endblock %}
        </div>
    {% endif %}  
{% endblock %}