// Font Family
$font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-header: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-mono: "Menlo", "Monaco", monospace !default;
$font-family-serif: "Georgia", "Times", "Times New Roman", serif !default;

// Base Sizes
$core-font-size: 1rem !default;
$core-line-height: 1.5 !default;

// Extra Settings
$body-font-weight: 400;
$header-font-weight: 600;
$header-line-height: 1.25 !default;